.nav {
    background: #232e40;
    font-size: 14px;
  
  &_label {
    border-bottom: 1px solid #293649;
    color: #eff4fa;
    box-sizing: border-box;
    display: block;
  }
  &_label:hover {
    background: #212e41;
    border-bottom: 1px solid #2a394f;
  }
  &_header {
    display: flex;
    height: 60px;
    align-items: center;
    cursor: pointer;
  }
  &_header:hover {
    background: #2d3b52;
  }
  &_header_title {
    flex: 1 auto;
    padding-left: 25px;
  }
  &_header_arrow {
    height: 5px;
    transition: transform 0.5s;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    flex: 0 5px;
    margin-right: 15px;
  }
  &_content {
    display: none;
    flex-flow: column nowrap;
  }
  &_content_link {
    flex: 1 auto;
  }
  &_link {
    height: 60px;
    background: #15a4fa;
    transition: box-shadow 3s;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 35px;
  }
  &_link:hover {
    background: #0c93e4;
  }
  input[type='radio']:checked + &_label &_content {
    display: flex;
    border-bottom: 1px solid #212e41;
    animation: fadein 0.3s;
  }
  input[type='radio']:checked + &_label &_header_arrow {
    transition: transform 0.5s;
    transform: rotate(135deg);
    border-top: 2px solid #14a3f9;
    border-right: 2px solid #14a3f9;
  }
}